<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
        <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default-dark.css">
        <link rel="stylesheet" href="Styles/main.css">
    </head>
    <body>
        <div id="root">
            <div class="view login" v-if="View == 'Login'">
                <md-card class="loginPrompt">
                    <md-card-header>
                        <div class="md-title">Broken Protocol Portal</div>
                    </md-card-header>
                    <md-card-content>
                        <md-field>
                            <label>Username</label>
                            <md-input v-model="Login.Username"></md-input>
                        </md-field>
                        <md-field>
                            <label>Password</label>
                            <md-input v-model="Login.Password" type="password"></md-input>
                        </md-field>
                    </md-card-content>
                    <md-card-actions>
                        <md-button @click="login()">Login</md-button>
                    </md-card-actions>
                </md-card>
                <div style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background: url('https://images.pexels.com/photos/3785931/pexels-photo-3785931.jpeg?crop=entropy&cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-3785931.jpg&fit=crop&fm=jpg&h=1276&w=1920'); background-size: cover;">

                </div>
            </div>
            <div class="view main" v-if="View == 'Main'">
                <md-app>
                    <!--Toolbar-->
                    <md-app-toolbar class="md-primary" md-elevation="0">
                        <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
                            <md-icon>menu</md-icon>
                        </md-button>
                        <span class="md-title" style="flex: 1">BrokenProtocol Portal</span>

                        <div style="display: inline-block">
                            Welcome, {{User.Name}}
                        </div>
                        <md-button @click="navigate('/Index.html')">Logout</md-button>
                    </md-app-toolbar>

                    <!--Drawer-->
                    <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
                        <md-toolbar class="md-transparent" md-elevation="0">
                            <span>Navigation</span>

                            <div class="md-toolbar-section-end">
                                <md-button class="md-icon-button md-dense" @click="toggleMenu">
                                    <md-icon>keyboard_arrow_left</md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>

                        <md-list>
                            <md-list-item @click="toDashboard">
                                <md-icon>dashboard</md-icon>
                                <span class="md-list-item-text">Dashboard</span>
                            </md-list-item>
                            <md-list-item @click="toGroup">
                                <md-icon>device_hub</md-icon>
                                <span class="md-list-item-text">Device Group</span>
                            </md-list-item>
                            <md-list-item @click="toDevice">
                                <md-icon>build</md-icon>
                                <span class="md-list-item-text">My Device</span>
                            </md-list-item>
                            <md-list-item @click="toUsers" v-if="User.IsAdmin">
                                <md-icon>people</md-icon>
                                <span class="md-list-item-text">Users</span>
                            </md-list-item>
                            <md-list-item @click="toGroups" v-if="User.IsAdmin">
                                <md-icon>group_work</md-icon>
                                <span class="md-list-item-text">Groups</span>
                            </md-list-item>
                            <md-list-item @click="toMonitor" v-if="User.IsAdmin">
                                <md-icon>search</md-icon>
                                <span class="md-list-item-text">Monitor</span>
                            </md-list-item>
                        </md-list>
                    </md-app-drawer>

                    <!--Content-->
                    <md-app-content>
                        <!--Dashboard View-->
                        <div class="appContent dashboard" v-if="MainContent == 'Dashboard'">
                            <md-card class="partialContent">
                                <md-card-header>
                                    <h1>Overview</h1>
                                </md-card-header>
                                <md-card-content>
                                    Welcome to the BrokenProtocol Portal.
                                    The purpose of this server is to facilitate communication between devices for DBL Embedded Systems.
                                    Besides communication we also offer various tools such as logging and commands to make development easier for you.
                                </md-card-content>

                            </md-card>

                            <div class="sideBoxes">
                                <device-box class="sideBox" :device="Device"></device-box>
                            </div>

                        </div>
                        <!--Device Group View-->
                        <div class="appContent group" v-if="MainContent == 'Group'">
                            <div class="partialContent">
                                <md-card class="spaced">
                                    <md-card-header>
                                        <h1>Device Group</h1>
                                    </md-card-header>
                                    <md-card-content>
                                        On this page you will find to which other devices you are connected.
                                        Since this year devices will not be connected physically on the same belt, this will be the easiest way to see the state of other devices.
                                        We will likely also add the capability to setup a fake group with fake devices.
                                    </md-card-content>

                                </md-card>
                                <md-card class="spaced" v-if="!Group">
                                    <md-card-header>
                                        <div class="md-title">Current Group</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <div>
                                            <b style="color: orange;">You are currently not assigned to any group by a moderator. </b>
                                            <br /><br />

                                            Would you like to set up a virtual group? <br />
                                            <md-button class="md-raised md-accent" @click="createVirtualGroupDialog.Show = true">Create Virtual Group</md-button>
                                        </div>
                                    </md-card-content>
                                </md-card>

                                <div v-if="Group" class="spaced">
                                    <device-group :group="Group"></device-group>
                                </div>
                            </div>

                            <div class="sideBoxes">
                                <device-box class="sideBox" :device="Device"></device-box>
                            </div>

                            <md-dialog :md-active.sync="createVirtualGroupDialog.Show" class="createVirtualGroupDialog">
                                <md-dialog-title>Create Virtual Group</md-dialog-title>

                                <div style="margin: 25px; margin-top: -15px;">
                                    <p style="color: orange">
                                        Note that virtual groups are deleted after 15 minutes or when the server restarts. They are not persistent.
                                    </p>
                                    <div class="dialogForm">
                                        <div class="formPair">
                                            <div class="formKey">
                                                <div class="name">
                                                    Allow Offline Pickup
                                                </div>
                                                <div class="description">
                                                    If this checkbox is checked, it will allow Virtual Devices to pickup objects even when your device is offline.
                                                </div>
                                            </div>
                                            <md-checkbox class="formValue" v-model="createVirtualGroupDialog.Options.AllowOfflinePickup"></md-checkbox>
                                        </div>
                                        <div class="formPair">
                                            <div class="formKey">
                                                <div class="name">
                                                    Time Between Objects
                                                </div>
                                                <div class="description">
                                                    The time between each object moving in front of the virtual device.
                                                </div>
                                            </div>
                                            <md-field class="formValue">
                                                <label for="objTime">Time between Objects</label>
                                                <md-input type="number" name="objTime" v-model.number="createVirtualGroupDialog.Options.SecondsObjects" />
                                            </md-field>
                                        </div>
                                        <div class="formPair">
                                            <div class="formKey">
                                                <div class="name">
                                                    Time to Pickup
                                                </div>
                                                <div class="description">
                                                    The time it takes a virtual device to pick up an item it is allowed to pick up.
                                                </div>
                                            </div>
                                            <md-field class="formValue">
                                                <label for="objTime">Time between Objects</label>
                                                <md-input type="number" name="objTime" v-model.number="createVirtualGroupDialog.Options.SecondsPickup" />
                                            </md-field>
                                        </div>
                                        <div class="formPair">
                                            <div class="formKey">
                                                <div class="name">
                                                    Time to Determine Color
                                                </div>
                                                <div class="description">
                                                    The time it takes a virtual device to determine the color of a picked up item.
                                                </div>
                                            </div>
                                            <md-field class="formValue">
                                                <label for="objTime">Time between Objects</label>
                                                <md-input type="number" name="objTime" v-model.number="createVirtualGroupDialog.Options.SecondsDetermine" />
                                            </md-field>
                                        </div>
                                        <div class="formPair">
                                            <div class="formKey">
                                                <div class="name">
                                                    Device Time Variance
                                                </div>
                                                <div class="description">
                                                    This randomly modifies each device's timings by at mos this many seconds.
                                                </div>
                                            </div>
                                            <md-field class="formValue">
                                                <label for="objTime">Time Variance</label>
                                                <md-input type="number" name="objTime" v-model.number="createVirtualGroupDialog.Options.SecondsVariance" />
                                            </md-field>
                                        </div>
                                    </div>
                                </div>

                                <md-dialog-actions>
                                    <md-button class="md-primary" @click="createVirtualGroup(createVirtualGroupDialog.Options)">Create Virtual Group</md-button>
                                </md-dialog-actions>
                            </md-dialog>
                        </div>
                        <!--My Device View-->
                        <div class="appContent device" v-if="MainContent == 'Device'">
                            <div class="partialContent">
                                <md-card class="spaced">
                                    <md-card-header>
                                        <h1>My Device</h1>
                                    </md-card-header>
                                    <md-card-content>
                                        Here you will find all data regarding your device, logging, commandline, and so forth.
                                    </md-card-content>
                                </md-card>
                                <md-card class="spaced">
                                    <md-card-header>
                                        <div class="md-title">Device Terminal</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <p>
                                            Here you will see your device interactions, logging, as well as being able to send commands.
                                            Commands are only used if you implemented them in your code.
                                        </p>
                                        <terminal :device="Device" :blacklist="[]"></terminal>
                                    </md-card-content>
                                </md-card>
                            </div>
                            <div class="sideBoxes">
                                <device-box class="sideBox" :device="Device"></device-box>
                                <sensor-box class="sideBox" :device="Device"></sensor-box>
                            </div>
                        </div>
                        <!--Users View-->
                        <div class="appContent device" v-if="MainContent == 'Users'">
                            <div>
                                <h1>Users</h1>
                                <md-card>
                                    <md-card-header>
                                        <div class="md-title">Create User</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <div>
                                            <div class="md-layout md-gutter" style="margin:20px;">
                                                <div class="md-layout-item md-small-size-100">
                                                    <md-field>
                                                        <label for="username">Username</label>
                                                        <md-input name="username" v-model="NewUser.Username" />
                                                    </md-field>
                                                </div>
                                                <div class="md-layout-item md-small-size-100">
                                                    <md-field>
                                                        <label for="username">Password</label>
                                                        <md-input name="username" type="password" v-model="NewUser.Password" />
                                                    </md-field>
                                                </div>
                                            </div>
                                            <div class="md-layout md-gutter" style="margin:20px;">
                                                <div class="md-layout-item md-small-size-100">
                                                    <md-field>
                                                        <label for="devicename">DeviceName</label>
                                                        <md-input name="devicename" v-model="NewUser.DeviceName" />
                                                    </md-field>
                                                </div>
                                            </div>
                                        </div>
                                    </md-card-content>
                                    <md-card-actions>
                                        <md-button class="md-primary" @click="createUser()"
                                                   :disabled="!NewUser.Username || NewUser.Username.length < 2 || !NewUser.Password || NewUser.Password.length < 6 || !NewUser.DeviceName || NewUser.DeviceName.length < 4">
                                            Create User
                                        </md-button>
                                    </md-card-actions>
                                </md-card>
                                <user-table :users="Users" v-on:users-changed="updateUsers()"></user-table>
                            </div>
                        </div>
                        <!--Groups View-->
                        <div class="appContent device" v-if="MainContent == 'Groups'">
                            <div>
                                <h1>Groups</h1>
                                <md-card>
                                    <md-card-header>
                                        <div class="md-title">Create Group</div>
                                    </md-card-header>
                                    <md-content>
                                        <div class="md-layout md-gutter" style="margin:20px;">
                                            <div class="md-layout-item md-small-size-100">
                                                <md-field>
                                                    <label for="groupName">Name</label>
                                                    <md-input name="groupName" v-model="NewGroup.Name" />
                                                </md-field>
                                            </div>
                                        </div>
                                    </md-content>
                                    <md-card-actions>
                                        <md-button class="md-primary" @click="createGroup()" :disabled="!NewGroup.Name || NewGroup.Name.length < 2">Create Group</md-button>
                                    </md-card-actions>
                                </md-card>
                                <group-listing v-for="group in Groups"
                                               :group="group"
                                               @add-user="showAddUserDialog(group)"
                                               @group-changed="updateGroups(); updateUsers();"
                                               :show-options="true"></group-listing>

                            </div>
                            <md-dialog :md-active.sync="addUserDialog.Show" class="addUserDialog">
                                <md-dialog-title>Add User to Group [{{addUserDialog.Group.Name}}]</md-dialog-title>

                                <div style="margin: 15px;">
                                    <group-listing v-if="addUserDialog.Group" :group="addUserDialog.Group" :show-options="false"></group-listing>
                                    <h3>Select a member to add to this group</h3>
                                    <div>
                                        <div>
                                            <md-field>
                                                <label for="filterName">Filter</label>
                                                <md-input name="filterName" v-model="addUserDialog.Filter" />
                                            </md-field>
                                        </div>
                                        <div style="max-height: 300px; overflow-y: auto;">
                                            <md-card v-for="user in Users"
                                                     v-if="!isUserInGroup(user.ObjectID, addUserDialog.Group) && user.Name.toLowerCase().indexOf(addUserDialog.Filter.toLowerCase()) >= 0"
                                                     style="margin: 5px;">
                                                <md-card-content>
                                                    <div style="margin:10px;">
                                                        <div style="font-size: 18px; font-weight: bold;">
                                                            {{user.Name}}
                                                        </div>
                                                        <div style="font-size: 14px; font-weight: lighter">
                                                            {{user.ObjectID}}
                                                        </div>
                                                        <div v-if="user.GroupID" style="font-size:12px; color:#F66">
                                                            User is already in {{user.GroupName}} (assignment will remove it from this group)
                                                        </div>
                                                    </div>
                                                </md-card-content>
                                                <md-card-actions style="margin-top: -45px;">
                                                    <md-button class="md-primary" @click="addUserToGroup(user.ObjectID, addUserDialog.Group.ObjectID)">Add To Group</md-button>
                                                </md-card-actions>
                                            </md-card>
                                        </div>
                                    </div>
                                </div>

                                <md-dialog-actions>
                                    <md-button class="md-primary" @click="addUserDialog.Show = false">Done</md-button>
                                </md-dialog-actions>
                            </md-dialog>
                        </div>

                        <!--MonitorView-->
                        <div class="appContent device" v-if="MainContent == 'Monitor'">
                            <div>
                                <h1>Monitoring</h1>
                                <md-card>
                                    <md-card-header>
                                        <div class="md-title">User Monitoring</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <div>
                                            <md-field>
                                                <label for="selectedUser">User</label>
                                                <md-select v-model="SelectedUserLog" name="selectedUser">
                                                    <md-option :value="user.ObjectID" v-for="user in Users" v-bind:key="user.ObjectID">{{user.Name}}</md-option>
                                                </md-select>
                                            </md-field>
                                        </div>
                                        <div v-if="SelectedUserLog">
                                            <div style="color:orange; font-size: 13px;">
                                                If no terminal is not shown, it means no logs are received yet.
                                            </div>
                                            <terminal :device="userLog" v-for="userLog in UserLogs" v-if="userLog.ID == SelectedUserLog"></terminal>
                                        </div>
                                        <md-button class="md-primary md-raised" @click="clearUserLogs()">Clear All UserLogs (Memory)</md-button>
                                    </md-card-content>
                                </md-card>
                                <md-card style="margin-top: 10px;">
                                    <md-card-header>
                                        <div class="md-title">Group Monitoring</div>
                                    </md-card-header>
                                    <md-card-content>
                                        <div>
                                            <div>
                                                <md-field>
                                                    <label for="selectedGroup">Group</label>
                                                    <md-select v-model="MonitorSelectedGroup" name="selectedGroup">
                                                        <md-option :value="group.ObjectID" v-for="group in Groups" v-bind:key="group.ObjectID">{{group.Name}}</md-option>
                                                    </md-select>
                                                </md-field>
                                            </div>
                                            <div>
                                                <div style="color:orange; font-size: 13px;">
                                                    If no group is not shown, it means no updates are received yet.
                                                </div>
                                                <div v-for="group in MonitorGroups" v-if="MonitorSelectedGroup == group.ObjectID || MonitorSelectedGroup == 'All'">
                                                    <div style="width: calc(100% - 425px); display: inline-block;">
                                                        <device-group :group="Group"></device-group>
                                                    </div>
                                                    <md-card style="width: 300px; margin-left: 50px; display: inline-block;">
                                                        <md-card-content>
                                                            <md-button style="width: calc(100% - 15px);" class="md-primary md-raised" @click="resetGroupValues(group.ObjectID)">Reset Values</md-button>
                                                        </md-card-content>
                                                    </md-card>
                                                </div>
                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </div>
                    </md-app-content>
                </md-app>
            </div>
            <md-snackbar :md-position="snackPosition" :md-duration="snackDuration" :md-active.sync="snackActive" md-persistent>
                <span>{{snackMessage}}</span>
                <md-button class="md-primary" @click="snackActive = false">Dismiss</md-button>
            </md-snackbar>
        </div>


        <script type="text/x-template" id="deviceGroup">
            <div class="group">
                <md-card>
                    <md-card-header>
                        <div class="md-title">Group {{group.Name}}</div>
                    </md-card-header>
                    <md-card-content>
                        <div class="deviceContainer" style="text-align: center;">
                            <md-card class="device" v-for="device in group.Devices" style="display: inline-block; margin: 10px; width: 40%;">
                                <md-card-header>
                                    <div class="md-title">{{device.Name}}</div>
                                </md-card-header>
                                <md-card-content>
                                    <div class="status" style="position: absolute; top:20px; right: 20px;">
                                        <md-icon style="color: green;" v-if="device.IsOnline">
                                            circle
                                        </md-icon>
                                        <md-icon style="color: red;" v-if="!device.IsOnline">
                                            circle
                                        </md-icon>
                                    </div>
                                    <md-table>
                                        <md-table-row>
                                            <md-table-cell>
                                                Consumed
                                            </md-table-cell>
                                            <md-table-cell>
                                                {{device.TotalCount}}
                                            </md-table-cell>
                                        </md-table-row>
                                        <md-table-row>
                                            <md-table-cell>
                                                White
                                            </md-table-cell>
                                            <md-table-cell>
                                                {{device.ObjectCounts.White}}
                                            </md-table-cell>
                                        </md-table-row>
                                        <md-table-row>
                                            <md-table-cell>
                                                Black
                                            </md-table-cell>
                                            <md-table-cell>
                                                {{device.ObjectCounts.Black}}
                                            </md-table-cell>
                                        </md-table-row>
                                    </md-table>
                                </md-card-content>
                            </md-card>
                        </div>
                        <device-chart :group="group" style="height: 200px;"></device-chart>
                    </md-card-content>
                    <md-card-actions v-if="group.IsVirtual">
                        <md-button class="md-accent" @click="deleteVirtualGroup()">Delete Virtual Group</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </script>

        <script type="text/x-template" id="userTable">
            <md-table md-card @md-selected="selectedUsers">
                <md-table-toolbar>
                    <h1 class="md-title">Users</h1>
                </md-table-toolbar>

                <md-table-row>
                    <md-table-head>Name</md-table-head>
                    <md-table-head>DeviceName</md-table-head>
                    <md-table-head>GroupName</md-table-head>
                    <md-table-head>ID</md-table-head>
                    <md-table-head></md-table-head>
                </md-table-row>

                <md-table-row v-for="user in users" md-selectable="multiple" md-auto-select>
                    <md-table-cell>{{user.Name}}</md-table-cell>
                    <md-table-cell>{{user.DeviceName}}</md-table-cell>
                    <md-table-cell>{{user.GroupName}}</md-table-cell>
                    <md-table-cell>{{user.ObjectID}}</md-table-cell>
                    <md-table-cell>
                        <md-button class="md-icon-button" @click="deleteUser(user.ObjectID)">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </md-table-cell>
                </md-table-row>
            </md-table>
        </script>

        <script type="text/x-template" id="groupListing">
            <md-card style="margin-top:5px;" class="groupListing">
                <md-card-content>
                    <div>
                        <div class="header">
                            <div class="groupName">
                                {{group.Name}}
                            </div>
                            <div class="groupID">
                                {{group.ObjectID}}
                            </div>
                        </div>
                        <div class="groupMembers" v-if="group.UserDevices && group.UserDevices.length > 0">
                            <md-chip class="md-primary"
                                     :md-deletable="showOptions"
                                     v-for="member in group.UserDevices"
                                     @md-delete="deleteUser(member.UserID)">
                                {{member.Name}}
                            </md-chip>
                        </div>
                    </div>
                </md-card-content>
                <md-card-actions v-if="showOptions">
                    <md-button class="md-primary" @click="addUser()">Add User</md-button>
                    <md-button class="md-accent" @click="deleteGroup()">Delete Group</md-button>
                </md-card-actions>
            </md-card>
        </script>

        <script type="text/x-template" id="deviceBox">
            <md-card>
                <md-card-header>
                    <div class="md-title">My Device</div>
                </md-card-header>
                <md-card-content>
                    <md-table>
                        <md-table-row v-if="device.Name">
                            <md-table-cell class="key">Name</md-table-cell>
                            <md-table-cell>{{device.Name}}</md-table-cell>
                        </md-table-row>
                        <md-table-row>
                            <md-table-cell class="key">Status</md-table-cell>
                            <md-table-cell v-if="device.Online">
                                <md-icon style="color: green;">
                                    circle
                                </md-icon>
                                Online
                            </md-table-cell>
                            <md-table-cell class="value" v-if="!device.Online">
                                <md-icon style="color: red;">circle</md-icon>
                                Offline
                            </md-table-cell>
                        </md-table-row>
                        <md-table-row>
                            <md-table-cell class="key">Last Connection</md-table-cell>
                            <md-table-cell v-if="device.LastConnection">{{device.LastConnection}}</md-table-cell>
                            <md-table-cell v-if="!device.LastConnection">Never</md-table-cell>
                        </md-table-row>
                    </md-table>
                </md-card-content>
            </md-card>

        </script>
        <script type="text/x-template" id="sensorBox">
            <md-card v-if="device.Sensors">
                <md-card-header>
                    <div class="md-title">Sensor Data</div>
                </md-card-header>
                <md-card-content>
                    <md-table v-if="device && device.Sensors">
                        <md-table-row v-for="(value, key) in device.Sensors">
                            <md-table-cell class="key">{{key}}</md-table-cell>
                            <md-table-cell>{{value}}</md-table-cell>
                        </md-table-row>
                    </md-table>
                    <div v-if="!device || !device.Sensors">
                        No Sensor Data
                    </div>
                </md-card-content>
            </md-card>

        </script>
        <script type="text/x-template" id="terminal">
            <div class="terminal">
                <div class="logs" ref="log">
                    <div class="log" v-for="log in device.Logs">
                        <div style="display:inline-block;">[{{log.Time}}]</div> {{device.Name}}:{{log.Message}}
                    </div>
                </div>
                <div class="input">
                    >
                    <input type="text" />
                </div>
            </div>
        </script>
        <script type="text/x-template" id="terminal-only">
            <div class="terminal">
                <div class="logs" ref="log">
                    <div class="log" v-for="log in logs">
                        {{log.Message}}
                    </div>
                </div>
                <div class="input">
                    >
                    <input type="text" />
                </div>
            </div>
        </script>
        <script src="/Sync/Config"></script>
        <script src="/Sync/Script"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-material"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
        <script src="Scripts/main.js"></script>

    </body>
</html>